*.js
!jest.config.js
*.d.ts
node_modules

!postcss.config.js
!tailwind.config.js

!Dashboard.js
!Landing.js
!Modal.js
!SideBar.js
!Beta.js

.env
.DS_Store


# CDK asset staging directory
.cdk.staging
cdk.out
